<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.10.0" targetFramework="net452" />
  <package id="NUnit" version="2.5.7.10213" targetFramework="net452" />
  <package id="NUnit.Console" version="3.0.0" targetFramework="net452" />
  <package id="Selenium.Support" version="2.48.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.48.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="SpecRun.NUnit" version="1.5.2" targetFramework="net452" />
  <package id="SpecRun.Runner" version="1.5.2" targetFramework="net452" />
</packages>